.git/**
.gitignore
.github/**
.vscode
.vscode/**
.editorconfig
CODE_OF_CONDUCT.md
CONTRIBUTING.md
node_modules/**
src/**
test/**
docs/**
README.md
package-lock.json
tsconfig.json
dist/test/**
dist/*.vsix
**/*.map
